body {
    background-image: url(asset/mohammad-alizade-XgeZu2jBaVI-unsplash.jpg);
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    height: 10vh;
    color: white;
    font-size: 50px;
}

h1 {
    color: white;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@media screen and (max-width: 600px) {
    .blink {
        font-size: 20px;
    }
}